html{
	background: url(../src/nick-karvounis-381259.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	font-family: Helvetica, Arial, sans-serif;
}

.datoPrincipal{
	width: 400px;
	height: 1500px;
	background: rgba(0,0,0,0.7);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 50px;
}

.fotoPerfil{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
	text-align: center;
}

p{
	font-weight: 200;
	letter-spacing:1;
	font-size: 18px;
	text-align: justify;
}

.social{
	padding-bottom: 0px;
	font-size: 40px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: gray;
}

.linea{
	width: 295px;
	border-top: solid white 1px;
	margin: 0 auto;
}


.datoPrincipal .listas ul{
	text-align: left;
	font-size: 18px;
	list-style-type: square;
}

.footerSocial{
	width:100%;
  	position:fixed;
  	bottom: 0px;
  	left: 0px;
  	background-color:rgba(0,0,0,0.9);
  	text-align: center;
}


